// Body
$body-bg: #9BC86A;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

table 			      { 
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:0 auto;
    position:relative;
    
    *               { position:relative }
    
    td,th           { padding-left:8px}
  
    thead tr        { 
      height:60px;
      background:#FFED86;
      font-size:16px;
    }
    
    tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
      &:last-child  { border:0; }
    }
    
       td,th 					{ text-align:left;
          &.l 					{ text-align:right }
          &.c 					{ text-align:center }
          &.r 					{ text-align:center }
      }
  }
  
  // body style
  
  body               { 
    background:#9BC86A; 
    font:400 14px 'Calibri','Arial';
    padding:20px;
  }
  
  .add-prescription{
    background:#d1ea75;
    padding:20px;
  }